@media(max-width: 768px) {
#search.posts .topic .post,.post,#blog .comments .post,.summary .list > *,.topic .mback,#search.posts .mback,.board .mainbg::before,.online .mainbg::before,.members .mainbg::before,#topic .skin_tbl::before,.guest.error.no_view_topic .msg .mainbg::before,.guest.error.no_permission .msg .mainbg::before,.error .mainbg::before,#search.posts .skin_tbl::before,.group .mainbg::before,.forum .mainbg::before,.search .skin_tbl::before,#mod .cp .skin_tbl::before,.send,.send::before,.skin-section,.tag{border-radius:0!important}
.post{flex-direction:column}
#topic .post .details,#blog .post .details{border-bottom:1px solid var(--ltbrd);display:block!important;margin:0!important;min-height:72px;order:1;padding-left:72px!important;position:relative!important;text-align:left;top:0!important;width:100%}
.post .title2.top,.summary .nick{order:2}
.post .right.Item{order:3}
.post .title2.bottom{order:4}
.post .center .left,.post tbody,.post .center,.post>table{display:contents!important}
.post .center .left div,.post .center .left p,.post .left.Item .u_group,.post .left.Item .u_posts,.post .left.Item .u_reputation,.post .left.Item .u_group dd{max-width:none!important}
.post .avatar{border-radius:100%!important;height:48px!important;left:12px;position:absolute;top:12px;width:48px!important}
#topic .post .u_group,#blog .post .u_group{width:100%}
.summary .list li{display:flex;flex-direction:column}
.summary .list li .left{border-bottom:1px solid var(--ltbrd);flex:0;flex-direction:row;min-height:73px;padding:0!important;width:100%!important}
.summary_details{gap:12px;height:100%;justify-content:left!important;max-width:none!important;padding:12px;position:relative!important;top:0!important}
.summary .avatar{height:48px!important;order:1;position:relative!important;width:48px!important}
.summary .nick{padding-top:0!important}
.u_group dd{padding:0 12px;width:fit-content!important}
#topic .post .u_status,#blog .post .u_status{left:41px;position:absolute!important;top:45px}
#topic .post .nick,#blog .post .nick,#topic .post .details dl:not(.u_location,.box_offline .u_status,.box_online .u_status),#blog .post .left .details dl:not(.u_location,.box_offline .u_status,.box_online .u_status){display:inline-block!important}
#topic .post .nick+p,#blog .post .nick+p,#topic .post .u_location,#blog .post .u_location{display:none}
}
