.mobile .post{flex-direction:column}
.moblie .post .center .left div,.mobile .post .center .left p{max-width:none!important}
#topic.mobile .post .details,#blog.mobile .post .details{border-bottom:1px solid var(--ltbrd);display:block;padding-left:72px;text-align:left;width:100%}
.mobile .post .avatar {border-radius:100%!important;height:48px!important;left:12px;position:absolute;top:12px;width:48px}
.mobile .post .center .left,.mobile .post tbody,.mobile .post .center,.mobile .post>table{display:contents}
#topic.mobile .post .details,#blog.mobile .post .details{flex-flow:row;justify-content:left;margin:0;order:1}
.mobile .post .title2.top{order:2}
.mobile .post .right.Item {order:3}
.mobile .post .title2.bottom{order:4}
#topic.mobile .post .nick,#blog.mobile .nick,#topic.mobile .post .details dl,#blog.mobile .post .details dl{display:inline-block!important}
#topic.mobile .post .nick+p,#blog.mobile .nick+p{display:none}

@media(max-width: 768px) {
.post{flex-direction:column}
#topic .post .details,#blog .post .details{border-bottom:1px solid var(--ltbrd);display:block!imporant;margin:0!important;order:1;padding-left:72px;position:relative!important;text-align:left;top:0!important;width:100%}
.post .title2.top{order:2}
.post .right.Item{order:3}
.post .title2.bottom{order:4}
.post .center .left,.post tbody,.post .center,.post>table{display:contents!important}
.post .center .left div,.post .center .left p{max-width:none!important}
.post .avatar{border-radius:100%!important;height:48px!important;left:12px;position:absolute;top:12px;width:48px!important}
#topic .post .nick,#blog .post .nick,#topic .post .details dl,#blog .post .details dl{display:inline-block!important}
#topic .post .nick+p,#blog .post .nick+p{display:none}
}
